<!-- šajā vietā norādam šim failam, kāds modelis tiks tam iedots, kad šo failu
    mēģinās uzģenerēt -->
@model List<AdvertsWebApp.Models.Advert>
<h1>Visi sludinājumi</h1>
<!-- šajā vietā izmantojot foreach ciklu, uzģenerēsim HTML kodu priekš katra
    sludinājuma -->
@foreach (var ad in Model)
{
    <p>
        
        <a href="/Home/Advert?advertId=@ad.AdvertId">
        @ad.Name - @ad.Price eur
        </a>
    </p>


}
@Html.ActionLink("Pievienot jaunu sludinajumu,", "CreateAdvert")